<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>Doctor Appointment System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<body>
    <h1>Doctor Appointment System</h1>
    <ul>
        <li><a href="/add_doctor">Add Doctor</a></li>
        <li><a href="/schedule">Schedule Appointment</a></li>
        <li><a href="/view">View Appointments</a></li>
        <li><a href="/cancel">Cancel Appointment</a></li>
    </ul>
</body>
</html>
<footer>
    <div class="container">
      <p>&copy; 2023 Doctor Appointment System. All rights reserved.</p>
      <h4>Clinic Address:</h4>
      <p>Eklahareshivar, Near Odhagaon</p>
      <p>Opp Nashik-Aurangabad Highway</p>
      <p>Nashik, Maharashtra 422105</p>
      <p class="email-id">Email-Id: doappoinsys14@gmail.com</p>
      <h5>Contact us: +91-0123456789</h5>
    </div>
  </footer>